* {
    font-family: "Source Sans Pro", sans-serif;
  }

  body {
      margin: 0;
  }

.form-wrap {
    display: none;
    width: 50%;
    margin: auto;
}

.form-wrap > * {
    margin: 50px 30px;
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    height: 300px;
    justify-content: space-between;
    flex-grow: 3;
    margin-left: 0;
}


.motivation {
    flex-grow: 2;
    background: #ea0;
    color: white;
    margin-right: 0;
    padding: 
}

.motivation-title {
    font-size:40px;
    margin: 0;
}

.motivation-paragraph {
    max-width: 200px;
}

.form-label {
    font-weight: 500;
    color: #777;
    margin-bottom: 3px;
}

.form-option, .form-errors {
    display: flex;
    flex-direction: column;
    margin: 11.5px 0;
}

input {
    border: 0;
    border-bottom: 1px #aaa solid;
    transition: transform 0.2s;
}

input:focus {
    transform: scale(1.05);
    outline: none;
}

.form-button {
    background: #0c6;
    border: 0;
    color: #fff;
    height: 36px;
    width: 90px;
}

.form-errors {
    color: red;
    width: 150px;
}